body{
	background-color:#555555
}
#indexDiv{
		margin:auto;
        width:1000px; 
        height:2690px;
        background-color:silver;
}  
#jumbotron {
	background-image: url('http://prntscr.com/3v40ck');
}
